.screenshot {
    margin-top: 5%;
    display: inline-block;
    padding-right: 100px;
    padding-bottom: 25px;
}

.screenshot img {
    width: 250px;
    height: 540px;
    box-shadow: 0 0 20px 0px #cfcccf;
}

.screenshots {
    width: 75%;
    margin-left: 30%; 
}

.screenshotFooter {
    transform: translate(155px);
}