.download {
    width: 80%;
    margin-left: 30%;
    position: absolute;
    bottom: 0;
}

.icons {
    display: inline-flex;
    justify-items: left;
}

.logoIcons img {
    width: 40px;
    flex-direction: row;
    padding-right: 400px;
    padding-bottom: 70px;
}

.icons.logoIcons {
    margin-top: 20px;
}

.icons.appImages {
    padding-bottom: 70px;
}

.appImages img {
    height: 200px;
    width: 200px;
    margin-right: 240px;
}

.icons .shadow img{
    box-shadow: 0 0 4px -2px #474447;
}

.icons .versions {
    width: 40%;
}


.versionDiv {
    padding-right: 240px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h4, .subheader {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: "Cerebri-Sans-Light";
    color: gray;
    transform: translate(-40px, -30px);
    padding-bottom: 25px;
}

.downloadLink {
    text-decoration: none;
}

.downloadFooter {
    transform: translate(-130px, -50px);
}