.download {
    width: 80%;
    margin-left: 27%;
    position: absolute;
    bottom: 0;
}

.icons {
    display: inline-flex;
    justify-items: left;
}

.logoIcons img {
    width: 40px;
    flex-direction: row;
    padding-right: 360px;
    padding-bottom: 75px;
}

.icons.appImages {
    padding-bottom: 75px;
}

.appImages img {
    height: 200px;
    width: 200px;
    margin-right: 200px;
}

.icons .shadow img{
    box-shadow: 0 0 4px -2px #474447;
}

.versionDiv {
    width: 60%;
    margin-right: 265px;
}

.middle {
    transform: translate(8px);
    margin-right: 63px;
}

.middle h4 {
    transform: translate(-60px, -28px);
}

.end {
    transform: translate(-42px);
}

.end h4 {
    transform: translate(-59px, -28px);
}

h2 {
    font-size: 25px;
    font-weight: 700;
    margin-left: 5px;
}

h4, .subheader {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    font-family: "Cerebri-Sans-Light";
    color: gray;
    transform: translate(-62px, -30px);
    padding-bottom: 25px;
}

.downloadLink {
    text-decoration: none;
}

.downloadFooter {
    transform: translate(-105px, -50px);
}