.screenshot {
    margin-top: 6vh;
    display: inline-block;
    padding-right: 8vw;
    padding-bottom: 3vh;
}

.screenshot img {
    width: 250px;
    height: 540px;
    box-shadow: 0 0 20px 0px #cfcccf;
}

.screenshots {
    width: 75%;
    margin-left: 27vw; 
}

.screenshotFooter {
    margin-left: 20vw;
}