#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: url(../WebAssets/Images/Backgrounds/sideMenuBG.png);
    width: 20vw;
    height: 100vh;
}

.logo_icon {
    height: 220px;
    width: 220px;
    margin-left: 3.1vw;
    margin-top: 50px;
    padding-bottom: 60px;
    position: fixed;
}
.infoTags {
    color: white;
    font-size: 40px;
    position: fixed;
    text-align: center;
    margin-left: 1.2vw;
    margin-top: 20%;
}