.textbox {
    position: relative;
    display: inline-block;
    width: 60vw;
    height: 560px;
    margin: 4% 0 0 30%;
}

ul {
    list-style: none;
}

li {
    margin-left: 10px;
    line-height: 1.8em;
    font-family: "Cerebri-Sans-Book";
}

p {
    padding-left: 30px;
}

.textboxFooter {
    transform: translate(180px, 25px);
}